<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="/css/dashboard.css">

    <body>
        <!-- Canvas -->
        <canvas class="orb-canvas"></canvas>

        <!-- Overlay -->

        <!-- skill scation -->
        <h1 class="overlay__title">
            <span class="text-gradient text-6xl m-0">
                5 0 0
            </span>
        </h1>
        <!-- Description -->
        <p class="m-0">
            Somthing gose wrong .
            <a class='' href="/dashboard">Back</a>
        </p>

        <script type="module" src="/js/gassyAnimation.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </body>

</html>