<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <link rel="stylesheet" href="/css/dashboard.css">

  <body>
    <!-- Canvas -->
    <canvas class="orb-canvas"></canvas>
    <!-- Overlay -->
    <%- include('slidebar') %>
      <div class="overlay flex p-0 ml-28 relative">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner  w-full">
          <div x-data="{showSkills:false} ">
            <%- include('../components/'+currentPage) %>
              <!-- Modal toggle -->
              <%- include('../components/skillsModals') %>
          </div>
          <!-- Buttons -->
          <!-- <div class="overlay__btns">

      <button class="overlay__btn overlay__btn--transparent">
        <a href="https://georgefrancis.dev/writing/create-a-generative-landing-page-and-webgl-powered-background/" target="_blank">

          View Tutorial
        </a>
      </button>

      <button class="overlay__btn overlay__btn--colors">
        <span>Randomise Colors</span>
        <span class="overlay__btn-emoji">🎨</span>
      </button>
    </div> -->
        </div>
      </div>
      <script type="module" src="/js/gassyAnimation.js"></script>
      <!-- <script type="module">
        const skillModal = document.querySelector('#skill_modal')
        const skillModalBtn = document.querySelector('#skill_modal_btn')
        const closeBtn = document.querySelectorAll('.close_btn')
        closeBtn.forEach(e => {
          e.addEventListener('click', () => {

          })
        })
        skillModalBtn.addEventListener('click', () => {
          skillModal.classList.toggle('hidden')
        })
      </script> -->
  </body>

</html>