<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <link rel="stylesheet" href="/css/dashboard.css">

  <body>
    <!-- Canvas -->
    <!-- <canvas class="orb-canvas"></canvas> -->
    <!-- Overlay -->

    <!-- skill scation -->
    <div
      x-data="{showSkills:false , skill_name : ''  , skill_type : '' , newModel : true , skill_id : '' , activeModel:false , activeState :''}"
      class="skill_saction w-search ">
      <div x-data="showme()" class="w-full">
        <div x-data="editme()" class="w-full">
          <%- include('../components/'+currentPage) %>
            <!-- Modal toggle -->

            <%- include('../components/skillsModals') %>
        </div>
      </div>
    </div>
    <!-- Buttons -->
    <!-- <div class="overlay__btns">

      <button class="overlay__btn overlay__btn--transparent">
        <a href="https://georgefrancis.dev/writing/create-a-generative-landing-page-and-webgl-powered-background/" target="_blank">

          View Tutorial
        </a>
      </button>

      <button class="overlay__btn overlay__btn--colors">
        <span>Randomise Colors</span>
        <span class="overlay__btn-emoji">🎨</span>
      </button>
    </div> -->

    <script type="module" src="/js/gassyAnimation.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </body>

</html>