<footer class="">
    <a class="take-me-up" href="#home">
        <small>scroll up</small>
    </a>
    <div class="copyrwite">
        <small>Designed & Built by Fatima Almashhor</small>
        <small>@copyrwite 2022</small>
    </div>
</footer>