    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="protfolio">
    <meta name="keywords" content="Developer, Full stack, Frontend  ,Backend , UI , UX ,  Programmer">
    <meta name="author" content="Fatima Amin Almasshor ">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./utils/css/localmotion.css">
    <link rel="stylesheet" href="style/main.css">
    <title>Fatima Amin Almashhor</title>