< !DOCTYPE html>
  <html lang="en">
  <% include('head') %>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/dashboard.css">

    <body>
      <!-- Canvas -->
      <canvas class="orb-canvas"></canvas>
      <!-- Overlay -->
      <div class="overlay flex p-0 relative">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner">
          <!-- Title -->
          <h1 class="overlay__title text-white text-2xl ">
            Login
          </h1>
          <!-- Description -->
          <p class="overlay__description">

          </p>
          <div class="">
            <form>
              <div>
                <label for="email" class="block mb-2  text-sm font-medium text-gray-900 dark:text-gray-300">your
                  email</label>
                <input type="email" name="email" id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  placeholder="fatima@gmail.com" required>
              </div>
              <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">your
                  password</label>
                <input type="password" name="password" id="password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  placeholder="****" required>
              </div>
            </form>
          </div>
          <!-- Buttons -->
          <!-- <div class="overlay__btns">

              <button class="overlay__btn overlay__btn--transparent">
                <a href="https://georgefrancis.dev/writing/create-a-generative-landing-page-and-webgl-powered-background/" target="_blank">

                  View Tutorial
                </a>
              </button>

              <button class="overlay__btn overlay__btn--colors">
                <span>Randomise Colors</span>
                <span class="overlay__btn-emoji">🎨</span>
              </button>
            </div> -->
        </div>
      </div>
      <script type="module" src="/js/gassyAnimation.js"></script>
    </body>

  </html>