<nav class="nav" id='nav'>
    <a href="#home" class="nav_logo">
        <img src="./assets/images/logo.png" alt='logo' />
    </a>
    <ul class="nav_list">
        <li ><a class="active" href="#home">About</a></li>
        <li><a href="#about">Experience</a></li>
        <li><a href="#work">Works</a></li>
        <li><a href="#contanct">Contact</a></li>
    </ul>
    <div class='toggle-switch'>
        <label class="toggle-lable">
            <input class='toggle-checkout' id='toggle-checkout' type = 'checkbox'>
            <span class = 'slider'></span>
        </label>
        <!-- <a href = 'https://dribbble.com/shots/14199649-Dark-Light-Mode-Toggle-Switch-Pattern-A11y'>
            Inspired by the design from Tim Silva
        </a> -->
    </div>
</nav>