<% if (userInfo) { %>
    <h1 class="overlay__title">
        Hey,
        <span class="text-gradient">
            <%= userInfo.name %>
        </span> Nice to back?
    </h1>
    <!-- Description -->
    <p class="overlay__description">
        Start build up your portfolio.
    </p>
    <% } %>