<div class="w-full flex justify-between ">
    <h1 class="text-2xl">Skills</h1>
    <div class=" cursor-pointer" id='skill_modal_btn'>
        <ion-icon name="add-outline"></ion-icon>
    </div>
</div>

<div class="w-full flex justify-between border-b-2 my-5 p-3 border-gray-200">
    <div class="">
        <h3>C++</h3>
    </div>
    <div class="cursor-pointer">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </div>
</div>